footer{
	color: $white;
	background: $footer_bg;
	margin: 30px 0 0 0;
	padding: 60px 0;

	@include screen(480){
		padding: 30px 0;
	}

	.row{

		.col--33{

			.btn-align{
				display: flex;
				
				.btn__small{
					min-height: 43px;
					min-width: 43px;
					padding: 9px;
				}

				.btn__small:hover img{
				filter: invert(1);
				}

				.btn__small:nth-child(2){
					margin: 0 10px;
				}
				}
			}
		}
		.col--33:nth-child(2){
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

		}
		.col--33:nth-child(3){
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			text-align: center;

			@include screen(480){
				align-items: center;
			}

			.btn-align{
				flex-direction: column;
			}
		}
		a{
			color: $white;
		}
	}

